.grecaptcha-badge {
  visibility: collapse !important;
}
.zindex-1000 {
  z-index: 1000 !important;
}
.mainFormPopup {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.navbar.navbar-dropdown.navbar-expand-lg.opened {
  height: 100vh !important;
  display: flex !important;
  align-items: start;
}
.d-none {
  display: none;
}
